@*@model IEnumerable<prjTravelDate_core.Models.ForumList?>

@{
    ViewData["Title"] = "ArticleView";
}

<h1>ArticleView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ForumListId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Watches)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ForumListId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Watches)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@
<div class="row justify-content-center bg-white rounded-3 pb-4">
    <div class="col-9 ">
        <div class="divide-line">
            <h2>揪3~5人遊蘭嶼</h2>
        </div>
        <div>
            <span><img src="~/icon/icons8-eye-24.png" />　20　|</span>
            <span><img src="~/icon/icons8-like-24.png" />　6　|</span>
            <span><img src="~/icon/icons8-talk-24.png"/>　20　</span>
        </div>
        <hr />
        <div class="d-flex">
            <div class="border">
                <img src="~/icon/icons8-person-female-100.png" />
            </div>
            <div class="col border">
                <h4>王曉明</h4>
                <div class="border">
                    <span>發文日期 : 2023/09/15　|　</span>
                    <span><img src="~/icon/icons8-position-16.png"/>台東</span>
                </div>
                <div class="border">
                    <span><img src="~/icon/icons8-tag-16.png" />　#水上活動　|　#一日遊</span>
                </div>
            </div>
        </div>
        <hr />
        <div class="card text-bg-dark col-5">
            <img src="~/images/蘭嶼.jpg" class="card-img" alt="蘭嶼"/>
            <div class="card-img-overlay">
                <div class="align-corner align-text-bottom">
                    <h5 class="card-title fw-bolder text-light">蘭嶼 野銀白沙冷泉</h5> 
                    <p class="card-text fs-4 text-black fw-bolder text-light">TWD <span>2999</span><span class="card-text">起</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
